* {
    
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


[class*="col-"] {

   height: 50px;
   /* border: solid grey 1px; */
}

.yellow {

   background-color: rgb(255,192,60);
   box-shadow: 10px 5px black;
}

.orange {

   background-color: rgb(255,125,63);
   box-shadow: 5px 5px black;

}

.black {

   background-color: black;
}

.purp {
   background-color: purple;
   border: solid 1px yellowgreen;
   box-shadow: 5px 5px black;
}